{%- for item in entity_context.getAncestry() -%}
    <a
        {{ not entity_context.getOption('is_tabbable') ? 'tabindex="-1"' }}
        class="context__item"
        href="{{ path('find_by_pid', {'pid': item.getPid()}) }}"
    >
       {{- item.getTitle() -}}
    </a>
    {{- not loop.last ? (loop.first ? ' ' : ', ') -}}
{%- endfor -%}
